<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:tx="http://www.springframework.org/schema/tx"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context-3.0.xsd
    http://www.springframework.org/schema/mvc
    http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd
    http://www.springframework.org/schema/tx
    http://www.springframework.org/schema/tx/spring-tx.xsd">

    <context:property-placeholder location="classpath:properties/dev/jdbc.properties"/>

    <bean id="ds_dev" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="${jdbc.driver}"/>
        <property name="url" value="${jdbc.dev.url}"/>
        <property name="username" value="${jdbc.dev.username}"/>
        <property name="password" value="${jdbc.dev.password}"/>
    </bean>

    <bean id="ds_sit" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="${jdbc.driver}"/>
        <property name="url" value="${jdbc.sit.url}"/>
        <property name="username" value="${jdbc.sit.username}"/>
        <property name="password" value="${jdbc.sit.password}"/>
    </bean>

    <bean id="ds_uat" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="${jdbc.driver}"/>
        <property name="url" value="${jdbc.uat.url}"/>
        <property name="username" value="${jdbc.uat.username}"/>
        <property name="password" value="${jdbc.uat.password}"/>
    </bean>

    <bean id="dynamicDataSource" class="com.berserker.server.util.DynamicDataSourceUtil">
        <property name="targetDataSources">
            <map>
                <entry key="0" value-ref="ds_dev"/>
                <entry key="1" value-ref="ds_sit"/>
                <entry key="2" value-ref="ds_uat"/>
            </map>
        </property>
        <property name="defaultTargetDataSource" ref="ds_uat"/>
    </bean>

    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="dynamicDataSource" />
        <property name="configLocation" value="classpath:mybatis/mybatis-config.xml"/>
        <property name="mapperLocations" value="classpath*:mybatis-mapper/**/*.xml"/>
        <!--<property name="plugins">-->
            <!--<array>-->
                <!--<bean class="com.github.pagehelper.PageHelper">-->
                    <!--<property name="properties">-->
                        <!--<value>-->
                            <!--dialect=hsqldb-->
                            <!--reasonable=true-->
                        <!--</value>-->
                    <!--</property>-->
                <!--</bean>-->
            <!--</array>-->
        <!--</property>-->
    </bean>

    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="basePackage" value="com.berserker.server.dao" />
        <property name="sqlSessionFactoryBeanName" value="sqlSessionFactory" />
    </bean>

    <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dynamicDataSource" />
    </bean>

    <tx:annotation-driven transaction-manager="transactionManager" />

</beans>
