<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.berserker.server.dao.writer.tools.AgentSearchWriterMapper">
    <insert id="addCity" parameterType="com.berserker.server.vo.tools.AgentCityModel">
        INSERT INTO
          tools_agent_city(city_name)
        VALUES
          (#{city_name})
    </insert>

    <insert id="addDepartment" parameterType="com.berserker.server.vo.tools.AgentDepartmentModel">
        INSERT INTO
          tools_agent_department(name,isHeadQuarter)
        VALUES
          (#{name},#{isHeadQuarter})
    </insert>

    <insert id="addPosition" parameterType="com.berserker.server.vo.tools.AgentPositionModel">
      INSERT INTO
        tools_agent_position(department_code,name)
      VALUES
        (#{department_code},#{name})
    </insert>

    <insert id="addAgentInfo" parameterType="com.berserker.server.vo.tools.AgentInfoModel">
        INSERT INTO
          tools_agent_collections(name,mobile,department_code,position_code,city_code,comment)
        VALUES (#{name},#{mobile},#{department_code},#{position_code},#{city_code},#{comment})
    </insert>

    <update id="updateAgentInfo" parameterType="com.berserker.server.vo.tools.AgentInfoModel">
      UPDATE
      tools_agent_collections a
      SET
      a.name = #{name}, a.mobile = #{mobile}, a.department_code = #{department_code},
      a.position_code = #{position_code}, a.city_code = #{city_code}
      <if test="comment != null">
          , a.comment = #{comment}
      </if>
      WHERE
        id = #{id}
    </update>
</mapper>