<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.berserker.server.dao.writer.tools.MobileMgrWriterMapper">
    <insert id="saveMobile" parameterType="com.berserker.server.model.tools.ToolsMobileMgrModel">
        INSERT INTO
        tools_mobile_core(mobile,owner)
        VALUES (#{mobile},#{owner_id})
    </insert>
    <update id="updateMobile" parameterType="com.berserker.server.model.tools.ToolsMobileMgrModel">
        UPDATE
        tools_mobile_core
        SET
        id = #{id}
        <if test="mobile != null and mobile != ''">
            , mobile = #{mobile}
        </if>
        <if test="owner_id != null and owner_id != 0">
            , owner = #{owner_id}
        </if>
        <if test="user != null and user != ''">
            , user = #{user}
        </if>
        <if test="update_time != null and update_time != ''">
            , update_time = #{update_time}
        </if>
        <if test="comment != null and comment != ''">
            , comment = #{comment}
        </if>
        <if test="type != null and type != ''">
            , type = #{type}
        </if>
        WHERE
          id = #{id}
    </update>

    <delete id="deleteMobile" parameterType="com.berserker.server.model.tools.ToolsMobileMgrModel">
        DELETE
        FROM tools_mobile_core
        WHERE
        mobile = #{mobile}
        AND
        id = #{id}
    </delete>
</mapper>