<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.berserker.server.dao.reader.tools.AgentSearchReaderMapper">

    <select id="getCityList" parameterType="com.berserker.server.vo.tools.AgentCityModel"
        resultType="com.berserker.server.vo.tools.AgentCityModel">
        SELECT
          c.id city_code, c.city_name city_name
        FROM
          tools_agent_city c
        <if test="city_name != null and city_name != ''">
            WHERE
            c.city_name = #{city_name}
        </if>
    </select>

    <select id="getDepartmentList" parameterType="com.berserker.server.vo.tools.AgentDepartmentModel"
            resultType="com.berserker.server.vo.tools.AgentDepartmentModel">
        SELECT
          a.id, a.name, a.isHeadQuarter, a.update_time, a.updater
        FROM
          tools_agent_department a
        WHERE
          a.isHeadQuarter = #{isHeadQuarter}
        <if test="name != null and name != ''">
            AND a.name = #{name}
        </if>
    </select>

    <select id="getPositionList" parameterType="com.berserker.server.vo.tools.AgentPositionModel"
            resultType="com.berserker.server.vo.tools.AgentPositionModel">
        SELECT
          a.id, a.department_code, a.name, a.update_time, a.updater
        FROM
          tools_agent_position a
        WHERE
          a.department_code = #{department_code}
        <if test="name != null and name != ''">
            AND a.name = #{name}
        </if>
    </select>

    <select id="getAgentInfoList" parameterType="com.berserker.server.vo.tools.AgentInfoModel"
            resultType="com.berserker.server.vo.tools.AgentInfoModel">
        SELECT
          a.id, a.name, a.mobile, a.department_code, a.position_code,a.city_code, a.comment, a.update_time, a.updater,
          d.name department_name, p.name position_name
        FROM
          tools_agent_collections a
        join
          TestCenter.tools_agent_department d on a.department_code = d.id
        join
          TestCenter.tools_agent_position p on p.id = a.position_code
        WHERE
          a.department_code = #{department_code}
        AND
          a.position_code = #{position_code}
        <if test="mobile != null and mobile != ''">
            AND a.mobile = #{mobile}
        </if>
        <if test="city_code != null and city_code != ''">
            AND a.city_code = #{city_code}
        </if>
    </select>
</mapper>