<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.berserker.server.dao.reader.tools.MobileMgrReaderMapper">
    <select id="getMobileDeviceList" resultType="com.berserker.server.model.tools.MobileDeviceModel">
        <if test="brandId == -1">
            SELECT
              distinct brand_Id brandId, brand brandName
            FROM
              tools_mobile_type
        </if>
        <if test="brandId != -1">
            SELECT
              DISTINCT id typeId, type typeName
            FROM
              tools_mobile_type
            <if test="brandId != 0">
                WHERE
                brand_id = #{brandId}
            </if>
        </if>
    </select>

    <select id="getLeaderList" resultType="com.berserker.server.model.tools.ToolsLeaderList">
        SELECT
        id id, name leader_name
        FROM
        tools_mobile_leader
    </select>

    <select id="getMobileList" parameterType="com.berserker.server.model.tools.ToolsMobileMgrModel"
            resultType="com.berserker.server.model.tools.ToolsMobileMgrModel">
        SELECT
        c.id id, c.mobile mobile, c.owner owner_id, l.name owner_name, c.user user, c.update_time update_time,
        t.id typeId, t.type typeName, t.brand_id brandId, t.brand brandName, c.serial serial, c.comment comment
        FROM
        tools_mobile_core c join tools_mobile_type t on c.type = t.id join tools_mobile_leader l on c.owner = l.id
        WHERE
          TRUE
          <if test="owner_id != 0 and owner_id != -1">
              AND l.id = #{owner_id}
          </if>
        <if test="typeId != 0 and typeId != -1">
            AND t.id = #{typeId}
        </if>
        <if test="brandId != 0 and brandId != -1">
            AND t.brand_id = #{brandId}
        </if>
    </select>

    <select id="getMobileInfo" resultType="com.berserker.server.model.tools.ToolsMobileMgrModel">
        SELECT
            c.id id, c.mobile mobile, c.owner owner_id, l.name owner_name, c.user user, c.update_time update_time,
            t.id typeId, t.type typeName, t.brand_id brandId, t.brand brandName, c.serial serial, c.comment comment
        FROM
            tools_mobile_core c join tools_mobile_type t on c.type = t.id join tools_mobile_leader l on c.owner = l.id
        WHERE
          c.id = #{id}
    </select>
</mapper>