<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.berserker.server.dao.reader.tools.MobileMgrReaderMapper">
    <select id="getMobileList" resultType="com.berserker.server.model.tools.ToolsMobileMgrModel">
        SELECT
          c.id id, c.mobile mobile, l.name owner_name, c.user user, c.update_time update_time, c.type type, c.comment comment
        FROM
          tools_mobile_core c JOIN tools_mobile_leader l
        on  c.owner = l.id
        WHERE
          1 = 1
          <if test="leader_id != null and leader_id != 0">
              AND l.id = #{leader_id}
          </if>
    </select>

    <select id="getLeaderList" resultType="com.berserker.server.model.tools.ToolsLeaderList">
        SELECT
          id id, name leader_name
        FROM
         tools_mobile_leader l
    </select>

    <select id="getMobileInfo" resultType="com.berserker.server.model.tools.ToolsMobileMgrModel">
        SELECT
          id, user user
        FROM
          tools_mobile_core
        WHERE
          id = #{id}
    </select>
</mapper>