<div class="nav navbar-default" role="navigation">
    <div class="navbar-inner">
        <a class="navbar-brand" href="#">
            <img alt="Berserker" src="$!{domain}/img/logo-web.png" class="hidden-xs"/>
            <span>Berserker</span>
        </a>
        <div class="btn-group pull-right">
            <button class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                <i class="glyphicon glyphicon-user"></i><span class="hidden-sm hidden-xs"> $!{header.username}</span>
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                #foreach( $menu in ${header.list})
                    <li><a href=$!{menu.url}>$!{menu.name}</a></li>
                #end
            </ul>
        </div>
    </div>
</div>