<!DOCTYPE html>
<html>
    <head>
        #parse("/basis/_import.vm")
        <link href="http://cdn.bootcss.com/bootstrap-table/1.11.0/bootstrap-table.min.css" rel="stylesheet"/>
        <script src="http://cdn.bootcss.com/bootstrap-table/1.11.0/bootstrap-table.min.js"></script>
        <script src="http://cdn.bootcss.com/bootstrap-table/1.11.0/locale/bootstrap-table-zh-CN.min.js"></script>
    </head>
    <body>
        <div class="panel-body" style="padding-bottom:0px;">
            <div class="panel panel-default">
                <div class="panel-heading">查询条件</div>
                <div class="panel-body">
                    <form id="formSearch" class="form-horizontal">
                        <div class="form-group" style="margin-top:15px">
                            <label class="control-label col-sm-1" for="txt_search_departmentname">小组</label>
                            <div class="col-sm-3">
                                <select class="input-sm form-control input-s-sm inline" id="leaderList">
                                </select>

                                <div class="modal inmodal" id="myModal4" tabindex="-1" role="dialog"  aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content animated fadeIn">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                                <h4 class="modal-title">修改手机信息</h4>
                                            </div>
                                            <div class="modal-body">
                                                <div class="row">
                                                    <div class="col-sm-10">
                                                        <div class="form-group">
                                                            <label>id:</label>
                                                            <label id="current_id"></label>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-10">
                                                        <div class="form-group">
                                                            <label>当前使用者:</label>
                                                            <input type="text" id="mobile_current_user"></input>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-10">
                                                        <div class="form-group">
                                                            <label>备注:</label>
                                                            <input type="text" id="comment"></input>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-white" data-dismiss="modal">关闭</button>
                                                <button type="button" id="update_user" class="btn btn-primary">保存</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                            </div>
                            <div class="col-sm-3" style="text-align:left;">
                                <button type="button" style="margin-left:50px" id="btn_query" class="btn btn-primary">查询</button>
                            </div>
##                            <div class="col-sm-2" style="text-align:left;">
##                                <button type="button" style="margin-left:50px" id="add_mobile" class="btn btn-primary">新建手机</button>
##                            </div>
##                            <div class="col-sm-2" style="text-align:left;">
##                                <button type="button" style="margin-left:50px" id="delete_mobile" class="btn btn-primary">删除手机</button>
##                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <table id="mobileTable"></table>
        </div>
        <script type="text/javascript">
            $("#update_user").click(function(){

                if($("mobile_current_user").val() == ""){
                    alert("请输入借用者");
                    return false;
                }
                var jsonobject = {
                    id: $("#current_id").text(),
                    user: $("#mobile_current_user").val(),
                    comment: $("#comment").val()
                };
                $.ajax({
                    type:'post',
                    url:"/iwjw/tools/mobile/updateMobileInfo.action",
                    datatype:'json',
                    contentType : 'application/json',
                    data:JSON.stringify(jsonobject),
                    success:function(data){
                        $("#myModal4").modal("hide");
                        $("#mobileTable").bootstrapTable("refresh");
                    },
                    error:function(errorThrown){
                        console.log(errorThrown);
                        alert("失败请重试");
                    }
                });
            });

            function edit(id){
                $("#current_id").text(id);
                $.ajax({
                    type:'get',
                    url:"/iwjw/tools/mobile/getMobileInfo.action" + "?id=" + id,
                    datatype:'json',
                    contentType : 'application/json',
                    data:{},
                    success:function(data){
                        $("#mobile_current_user").val(data.user);
                        $("#comment").val(data.comment);
                    },
                    error:function(errorThrown){
                        console.log(errorThrown);
                    }
                });
            }

            getSuffix = function (params) {
                console.log(params);
                var suffix = "currentPage=" + params.pageNumber + "&pageSize=" + params.pageSize
                        + "&id=" + $("#leaderList").val();
                return suffix;
            };

            $(function(){
                $.ajax({
                    type:'post',
                    url:"/iwjw/tools/mobile/getLeaderList.action",
                    datatype:'json',
                    contentType : 'application/json',
                    data:{},
                    success:function(data){
                        var select_option = new Array();
                        $.each(data.records,function(i, item){
                            select_option.push(item);
                        });
                        var options_str = "";
                        $.each(select_option,function(i, item){
                            options_str += "<option value=\"" + item.id + "\" >" + item.leader_name + "</option>";
                        });
                        console.log(options_str);
                        $("#leaderList").html("").append(options_str);
                    },
                    error:function(errorThrown){
                        console.log(errorThrown);
                    }
                });

                $("#btn_query").click(function(){
                    $("#mobileTable").bootstrapTable("refresh");
                    $("#mobileTable").bootstrapTable({
                        method: "get",
                        url: "http://localhost:8080/iwjw/tools/mobile/getMobileList.action",
                        dataType: "json",
                        pagination: true, //分页
                        singleSelect: false,
                        pageSize: 10,
                        queryParamsType: "other",
                        showRefresh: false,
                        pageNumber:1,
                        cache: false,
                        pageList: [5, 10, 50, 100, 200, 500],
                        search: false, //显示搜索框
                        sidePagination: "server", //服务端处理分页
                        queryParams: getSuffix,
                        columns: [
                            {
                                title: 'id',
                                field: 'id',
                                align: 'center',
                                valign: 'middle'
                            },
                            {
                                title: '手机号码',
                                field: 'mobile',
                                align: 'center',
                                valign: 'middle',
                            },
                            {
                                title: '手机型号',
                                field: 'type',
                                align: 'center',
                                valign: 'middle',
                            },
                            {
                                title: '手机归属',
                                field: 'owner_name',
                                align: 'center',
                                valign: 'middle',
                            },
                            {
                                title: '当前使用者',
                                field: 'user',
                                align: 'center',
                                valign: 'middle',
                            },
                            {
                                title: '更新日期',
                                field: 'update_time',
                                align: 'center',
                                valign: 'middle',
                            },
                            {
                                title: '备注',
                                field: 'comment',
                                align: 'center',
                                valign: 'middle',
                            },
                            {
                                title: '操作',
                                field: 'id',
                                align: 'center',
                                formatter:function(value,row,index){
                                    var e = '<a href="#" mce_href="#" data-toggle="modal" data-target="#myModal4" onclick="edit(\''+ row.id + '\')">编辑</a> ';
                                    return e;
                                }
                            }
                        ],
                        responseHandler : function(res) {
                            return {
                                total : res.total,
                                rows : res.records
                            };
                        }
                    });
                });
            });
        </script>
    </body>
</html>
